<!DOCTYPE html>
<html>
  <head>
    <title>DrumkitJs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "drumkit" %>
    <!-- <script defer src="script.js"></script> -->
  </head>

  <body>
    <%= yield %>
  </body>

</html>